{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Checkout</h1>
                </div>
            </div>
            <div class="col-lg-7"></div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<div class="untree_co-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0"> 
                <h2 class="h3 mb-3 text-black">Detalle del pedido</h2>
                <div class="p-3 p-lg-5 border bg-white">
                    <form id="checkout-form" method="post" class="contact-form">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="nombre" class="text-black">Nombre <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="nombre" name="nombre" required>
                            </div>
                            <div class="col-md-6">
                                <label for="apellido" class="text-black">Apellido <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="apellido" name="apellido" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="direccion" class="text-black">Dirección <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Calle" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="region" class="text-black">Región <span class="text-danger">*</span></label>
                                <select class="form-control" id="region" name="region" required>
                                    <option value="">Seleccionar región</option>
                                    {% for region in regiones %}
                                    <option value="{{ region.idRegion }}">{{ region.nombreRegion }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="comuna" class="text-black">Comuna <span class="text-danger">*</span></label>
                                <select class="form-control" id="comuna" name="comuna" required>
                                    <option value="">Seleccionar comuna</option>
                                    {% for comuna in comunas %}
                                    <option value="{{ comuna.idComuna }}">{{ comuna.nombreComuna }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="correo" class="text-black">Correo electrónico <span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="correo" name="correo" required>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black">Cupón de descuento</h2>
                        <div class="p-3 p-lg-5 border bg-white">
                            <label for="c_code" class="text-black mb-3">Ingrese su cupón, si tiene uno.</label>
                            <div class="input-group w-75 couponcode-wrap">
                                <input type="text" class="form-control me-2" id="c_code" placeholder="Cupón" aria-label="Coupon Code" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-black btn-sm" type="button" id="button-addon2">Aplicar cupón</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black">Tu pedido</h2>
                        <div class="p-3 p-lg-5 border bg-white">
                            <table class="table site-block-order-table mb-5">
                                <thead>
                                    <th>Producto</th>
                                    <th>Total</th>
                                </thead>
                                <tbody>
                                    {% for item in items %}
                                    <tr>
                                        <td>{{ item.producto.nombreProducto }} <strong class="mx-2">x</strong> {{ item.cantidad }}</td>
                                        <td>${{ item.precio_total }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Subtotal carrito</strong></td>
                                        <td class="text-black">${{ subtotal }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Total de pedido</strong></td>
                                        <td class="text-black font-weight-bold"><strong>${{ total }} / USD ${{total_dolar}}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group">
                                <a class="btn-lg py-3 btn-block" id="btnPaypal"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'core/js/tiny-slider.js' %}"></script>
<script src="{% static 'core/js/custom.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'core/js/mensajes.js' %}"></script>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    paypal.Button.render({
        env: 'sandbox',
        client: {
            sandbox: 'AUdczilLjDrMGcZtY3F9Xqa4WAmOmJQki8I3sWy9rTnnuxmiPWNOW1RACinASsIaWMDt8QPAbg0JQ1EL',
            production: 'demo_production_client_id'
        },
        locale: 'es_CL',
        style: {
            size: 'large',
            color: 'black',
            shape: 'rect'
        },
        commit: true,
        payment: function (data, actions) {
            return actions.payment.create({
                transactions: [{
                    amount: { 
                        total: '{{ total_dolar }}', 
                        currency: 'USD'
                    }
                }]
            });
        },
        onAuthorize: function (data, actions) {
            var csrftoken = getCookie('csrftoken');
            return actions.payment.execute().then(function () {
                // Obtener los datos del formulario de checkout
                var nombre = $('#nombre').val();
                var apellido = $('#apellido').val();
                var direccion = $('#direccion').val();
                var region = $('#region').val();
                var comuna = $('#comuna').val();
                var correo = $('#correo').val();
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader('X-CSRFToken', csrftoken);
                    }
                });

                console.log("ANTES DE CREAR PEDIDO");

                $.ajax({
                    type: 'POST',
                    url: '/crear_pedido/',  
                    data: {
                        nombre: nombre,
                        apellido: apellido,
                        direccion: direccion,
                        region: region,
                        comuna: comuna,
                        correo: correo,
                        csrfmiddlewaretoken: csrftoken
                    },
                    success: function (response) {
                        console.log("ENTRANDO A CREAR PEDIDO");
                        Swal.fire({
                            title: '¡EL PAGO SE REALIZÓ CON ÉXITO!',
                            text: 'Su número de pedido es: ' + response.numero_pedido,
                            icon: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Ver Boleta'
                        }).then(function () {
                            // Redirigir a la página de la orden creada
                            window.location.href = '/boleta/' + response.numero_pedido;
                        });
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        // Error en la solicitud AJAX
                        console.error(errorThrown)
                        Swal.fire({
                            title: 'Error',
                            text: 'ERROR EN LA SOLICITUD!',
                            icon: 'error',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Confirmar'
                        });
                    }
                });
            });
        },
        onCancel: function (data) {
            Swal.fire({
                title: '¡CANCELADO!',
                text: 'Transacción cancelada!',
                icon: 'error',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirmar'
            });
        },
        onError: function (err) {
            console.error(err)
            Swal.fire({
                title: 'Error',
                text: 'Ha ocurrido un error con el pago',
                icon: 'error',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirmar'
            });
        }
    }, '#btnPaypal');
</script>
{% endblock js %}
